* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnDarkmode {
    width: 40px;
    top: 10px;
    height: 40px;
    position: fixed;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: black;
}


.DarkMode {
    background-color: black;
    color: aliceblue;
}




/* Container */

.Container {
    max-width: 1200px;
    height: 450px;
    display: flex;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

.Container .Items {
    width: 250px;
    margin: 16px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #7a7676;
    border-radius: 4px;
    overflow: hidden;
}

.Container .Items img {
    width: 100%;
}

.Container .Items .text {
    padding: 5px;
}

.Container .Items .btnContainer {
    padding: 5px;
}

.Container .Items .btnContainer button {
    width: 100px;
    padding: 3px;
}
h1 {
    text-align: center;
    margin-top: 40px;
}